
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --theme-color: #3867d6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--theme-color);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--theme-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--theme-color);
  text-transform: uppercase;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--theme-color);
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 60px;
}

.heading span {
  color: var(--theme-color);
  text-transform: uppercase;
}

.service .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.service .box-container .box {
  border-radius: 0.5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;
}

.service .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--theme-color);
  color: #fff;
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.service .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.8;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #333;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--theme-color);
}

.price .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.price .box-container .box {
  padding: 2rem 0;
  background: #333;
  border-radius: 0.5rem;
  text-align: center;
}

.price .box-container .box:hover {
  transform: scale(1.03);
}

.price .box-container .box .titl {
  background: var(--theme-color);
  color: #fff;
  padding: 1.5rem 0;
  font-size: 2rem;
}

.price .box-container .box .amount {
  color: #fff;
  padding-top: 2rem;
  font-size: 4rem;
}

.price .box-container .box ul {
  list-style-type: none;
  padding: 1rem 0;
}

.price .box-container .box ul li {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}

.price .box-container .box ul li i {
  color: var(--theme-color);
  padding-right: 0.5rem;
}

.reivew .box {
  border-radius: 0.5rem;
  background: #333;
  padding: 2rem;
  position: relative;
}

.reivew .box .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--theme-color);
  font-size: 5rem;
}

.reivew .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.reivew .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reivew .box .user h3 {
  font-size: 2rem;
  color: #fff;
}

.reivew .box .user span {
  font-size: 1.5rem;
  color: #eee;
}

.reivew .box p {
  line-height: 2;
  color: #eee;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
  background: #444;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.footer {
  background: #111;
  /* control ize */
  --u: 5px;
  --c1: #303030;
  --c2: #000000;
  --c3: #1e1e1e;
  --gp: 50% / calc(var(--u) * 16.9) calc(var(--u) * 12.8);
  background: conic-gradient(
        from 122deg at 50% 85.15%,
        var(--c2) 0 58deg,
        var(--c3) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 122deg at 50% 72.5%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(from 58deg at 82.85% 50%, var(--c3) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 58deg at 66.87% 50%,
        var(--c1) 0 64deg,
        var(--c2) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 238deg at 17.15% 50%, var(--c2) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 172deg at 33.13% 50%,
        var(--c3) 0 66deg,
        var(--c1) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    conic-gradient(
        from -58deg at 50.25% 14.85%,
        var(--c3) 0 58deg,
        var(--c2) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from -58deg at 50% 28.125%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color:   #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color:   #fff;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color:  #fff;
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color:    var(--theme-color);
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid  #fff;
  color:   #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color:  #fff;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 5rem;
}


.theme-toggler {
  position: fixed;
  top: 10rem;
  right: -20rem;
  background: #333;
  z-index: 1000;
  width: 20rem;
  text-align: center;
}

.theme-toggler.active {
  right: 0;
}

.theme-toggler h3 {
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
}

.theme-toggler .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 0;
  left: -5.9rem;
  padding: 1.3rem 1.5rem;
  background: #333;
  cursor: pointer;
}

.theme-toggler .toggle-btn i {
  color: #fff;
  font-size: 3rem;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}



#form {
  display: grid;
  place-items: center;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px var(--theme-color);
  outline: 1px solid white;
  border-radius: 10px;
  margin-left: 38%;
}

#form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: var(--theme-color);;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid var(--theme-color);;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: var(--theme-color);;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: var(--theme-color);;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid var(--theme-color);;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: var(--theme-color);;
  color: #161616;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
}

#forgot-pass a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}

#bar {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 28px;
  height: 8px;
  margin-left: -33px;
  background-color: var(--theme-color);;
  border-radius: 10px;
}

#bar:before,
#bar:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ececec;
  border-radius: 50%;
}

#bar:before {
  right: -20px;
}

#bar:after {
  right: -38px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
#formContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: transparent;
}
.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.hidden {
  display: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}
.form {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*
.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: var(--theme-color);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}*/
.card {

  height: 900px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,var(--theme-color), var(--theme-color) 50%,var(--theme-color));
  margin-bottom: 115px;
}

.card__content {
  background:#1d1d1d;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.ha{
  font-weight: bolder;
  color: #fff;
  position: relative;
  font-size: 3.5rem;
  margin: 40px auto;
  top: 5px;
  left: 39%;

}


.alert{
  margin: 0 auto;
  max-width: 123rem;
  border-radius: 2.5rem;
  margin-top: 30px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .alert-header {
    display: flexbox;
    align-items: center;
    gap: 1rem;
  
  }
  
  .alert-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #34d399;
    padding: 0.5rem;
    color: white;
  }
  
  .alert-icon-svg {
    height: 1rem;
    width: 1rem;
  }
  
  .alert-title {
    font-weight: 500;
    font-size: large;
    color: #34d399;
  }
  
  .alert-message {
    font-size: medium;
    margin-top: 1rem;
    color: #4a5568;
  }
  
  .alert-actions {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }
  
  .alert-action-view,
  .alert-action-dismiss {
    display: inline-block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
  }
  
  .alert-action-view {
    background-color: #34d399;
    color: white;
  }
  
  .alert-action-dismiss {
    background-color: #e2e8f0;
    color: #4a5568;
    margin-top: 0.5rem;
  }

  
  @media (min-width: 640px) {
    .alert {
      padding: 1.5rem;
    }
  
    .alert-actions .alert-action-view,
    .alert-actions .alert-action-dismiss {
      width: auto;
      margin-top: 0;
    }
  }
  .dismiss-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    background-color: #ccc; /* Replace with your desired background color */
    color: #333; /* Replace with your desired text color */
    text-align: center;
    font-size: 0.875rem; /* Equivalent to Tailwind text-sm */
    font-weight: 600; /* Equivalent to Tailwind font-semibold */
    text-decoration: none;
  }
  
  .dismiss-button:hover {
    text-decoration: underline;
  }
  .hidden {
    display: none;
  }